/* line 9, ../scss/style.scss */
body {
  overflow: hidden;
}

/* line 13, ../scss/style.scss */
.canvas {
  width: 100vw;
  height: 100vh;
  -webkit-perspective: 150vw;
  perspective: 150vw;
  transform-origin: 50% 50% 0px;
  transform-style: preserve-3d;
}

/* line 22, ../scss/style.scss */
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(180deg);
  width: 52vw;
  height: 30vw;
  border: 1vw solid #2b2929;
  box-shadow: 0 1vw 2vw 0.25vw rgba(0, 0, 0, 0.5);
}

/* line 33, ../scss/style.scss */
.room-spin {
  width: 300vw;
  height: 300vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform-style: preserve-3d;
  transform: translateZ(150vw) translateX(-50%) translateY(-50%);
}

/* line 45, ../scss/style.scss */
.room {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* line 58, ../scss/style.scss */
.box-inner {
  position: absolute;
  transform-style: preserve-3d;
  width: 300vw;
  height: 300vw;
  transform: translateX(-50%) translateY(calc(-300vw + 10%));
}

/* line 67, ../scss/style.scss */
.wall {
  width: 300vw;
  height: 97.5vw;
  display: block;
  transform-origin: center;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/brick.jpg");
  background-position: center;
  background-size: 20%;
}

/* line 82, ../scss/style.scss */
.back {
  transform: rotateX(90deg) rotateZ(-180deg) translateY(48.75vw);
  bottom: 0;
  top: auto;
  transform-origin: bottom;
}

/* line 89, ../scss/style.scss */
.front {
  transform: rotateX(-90deg) translateY(-48.75vw);
  transform-origin: top;
  background-color: #141414;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMTQxNDE0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(90%, #141414));
  background-image: -moz-linear-gradient(#262626 0%, #141414 90%);
  background-image: -webkit-linear-gradient(#262626 0%, #141414 90%);
  background-image: linear-gradient(#262626 0%, #141414 90%);
  background-size: 100% 150%;
  background-repeat: no-repeat;
}

/* line 104, ../scss/style.scss */
.bottom {
  transform: translateZ(-48.75vw);
  background: url("../images/floor.jpg");
  background-size: 20%;
  height: 300vw;
}

/* line 111, ../scss/style.scss */
.left {
  transform-origin: top left;
  transform: rotateZ(90deg) rotateX(90deg) translateY(-48.75vw);
}

/* line 116, ../scss/style.scss */
.right {
  transform-origin: top right;
  transform: rotateZ(-90deg) rotateX(90deg) translateY(-48.75vw);
}

/* line 121, ../scss/style.scss */
.top {
  height: 300vw;
  transform: translateZ(48.75vw);
  background: white;
}

/* line 128, ../scss/style.scss */
.sign {
  display: inline-block;
  padding: 20px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-filter: blur(0.75px);
  transform: translate(-50%, -50%);
}

/* line 137, ../scss/style.scss */
h1 {
  font-family: avenir, sans-serif;
  font-size: 15vw;
  line-height: 0px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke-width: 0.75vw;
  -webkit-text-stroke-color: #2b2b2b;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0px 1vw 1vw rgba(0, 0, 0, 0.2);
}
/* line 148, ../scss/style.scss */
h1:before {
  content: "DOGHOUSE";
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(43, 44, 45, 0.1);
  text-shadow: 0px 0px 4vw rgba(255, 51, 51, 0.7);
  -webkit-text-stroke-width: 0.5vw;
  -webkit-text-stroke-color: red;
  -moz-animation: flicker 20s linear infinite;
  -webkit-animation: flicker 20s linear infinite;
  animation: flicker 20s linear infinite;
}
/* line 160, ../scss/style.scss */
h1:after {
  content: "DOGHOUSE";
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke-width: 0.12vw;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
  -moz-animation: flicker 20s linear infinite;
  -webkit-animation: flicker 20s linear infinite;
  animation: flicker 20s linear infinite;
}

@-moz-keyframes flicker {
  /* line 175, ../scss/style.scss */
  0% {
    opacity: 0;
  }

  /* line 178, ../scss/style.scss */
  5% {
    opacity: 0;
  }

  /* line 179, ../scss/style.scss */
  6% {
    opacity: 1;
  }

  /* line 180, ../scss/style.scss */
  11% {
    opacity: .4;
  }

  /* line 181, ../scss/style.scss */
  11.25% {
    opacity: .6;
  }

  /* line 182, ../scss/style.scss */
  11.5% {
    opacity: .4;
  }

  /* line 183, ../scss/style.scss */
  18% {
    opacity: 1;
  }

  /* line 184, ../scss/style.scss */
  18.5% {
    opacity: .9;
  }

  /* line 185, ../scss/style.scss */
  22% {
    opacity: 1;
  }

  /* line 188, ../scss/style.scss */
  38.5% {
    opacity: 1;
  }

  /* line 189, ../scss/style.scss */
  39% {
    opacity: .8;
  }

  /* line 190, ../scss/style.scss */
  42% {
    opacity: 1;
  }

  /* line 193, ../scss/style.scss */
  60% {
    opacity: 1;
  }

  /* line 194, ../scss/style.scss */
  60.5% {
    opacity: 0;
  }

  /* line 195, ../scss/style.scss */
  62% {
    opacity: 0;
  }

  /* line 196, ../scss/style.scss */
  63% {
    opacity: .2;
  }

  /* line 197, ../scss/style.scss */
  63.25% {
    opacity: 0;
  }

  /* line 198, ../scss/style.scss */
  65% {
    opacity: 1;
  }

  /* line 201, ../scss/style.scss */
  73% {
    opacity: 1;
  }

  /* line 202, ../scss/style.scss */
  75% {
    opacity: .8;
  }

  /* line 203, ../scss/style.scss */
  79% {
    opacity: 1;
  }

  /* line 205, ../scss/style.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flicker {
  /* line 175, ../scss/style.scss */
  0% {
    opacity: 0;
  }

  /* line 178, ../scss/style.scss */
  5% {
    opacity: 0;
  }

  /* line 179, ../scss/style.scss */
  6% {
    opacity: 1;
  }

  /* line 180, ../scss/style.scss */
  11% {
    opacity: .4;
  }

  /* line 181, ../scss/style.scss */
  11.25% {
    opacity: .6;
  }

  /* line 182, ../scss/style.scss */
  11.5% {
    opacity: .4;
  }

  /* line 183, ../scss/style.scss */
  18% {
    opacity: 1;
  }

  /* line 184, ../scss/style.scss */
  18.5% {
    opacity: .9;
  }

  /* line 185, ../scss/style.scss */
  22% {
    opacity: 1;
  }

  /* line 188, ../scss/style.scss */
  38.5% {
    opacity: 1;
  }

  /* line 189, ../scss/style.scss */
  39% {
    opacity: .8;
  }

  /* line 190, ../scss/style.scss */
  42% {
    opacity: 1;
  }

  /* line 193, ../scss/style.scss */
  60% {
    opacity: 1;
  }

  /* line 194, ../scss/style.scss */
  60.5% {
    opacity: 0;
  }

  /* line 195, ../scss/style.scss */
  62% {
    opacity: 0;
  }

  /* line 196, ../scss/style.scss */
  63% {
    opacity: .2;
  }

  /* line 197, ../scss/style.scss */
  63.25% {
    opacity: 0;
  }

  /* line 198, ../scss/style.scss */
  65% {
    opacity: 1;
  }

  /* line 201, ../scss/style.scss */
  73% {
    opacity: 1;
  }

  /* line 202, ../scss/style.scss */
  75% {
    opacity: .8;
  }

  /* line 203, ../scss/style.scss */
  79% {
    opacity: 1;
  }

  /* line 205, ../scss/style.scss */
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  /* line 175, ../scss/style.scss */
  0% {
    opacity: 0;
  }

  /* line 178, ../scss/style.scss */
  5% {
    opacity: 0;
  }

  /* line 179, ../scss/style.scss */
  6% {
    opacity: 1;
  }

  /* line 180, ../scss/style.scss */
  11% {
    opacity: .4;
  }

  /* line 181, ../scss/style.scss */
  11.25% {
    opacity: .6;
  }

  /* line 182, ../scss/style.scss */
  11.5% {
    opacity: .4;
  }

  /* line 183, ../scss/style.scss */
  18% {
    opacity: 1;
  }

  /* line 184, ../scss/style.scss */
  18.5% {
    opacity: .9;
  }

  /* line 185, ../scss/style.scss */
  22% {
    opacity: 1;
  }

  /* line 188, ../scss/style.scss */
  38.5% {
    opacity: 1;
  }

  /* line 189, ../scss/style.scss */
  39% {
    opacity: .8;
  }

  /* line 190, ../scss/style.scss */
  42% {
    opacity: 1;
  }

  /* line 193, ../scss/style.scss */
  60% {
    opacity: 1;
  }

  /* line 194, ../scss/style.scss */
  60.5% {
    opacity: 0;
  }

  /* line 195, ../scss/style.scss */
  62% {
    opacity: 0;
  }

  /* line 196, ../scss/style.scss */
  63% {
    opacity: .2;
  }

  /* line 197, ../scss/style.scss */
  63.25% {
    opacity: 0;
  }

  /* line 198, ../scss/style.scss */
  65% {
    opacity: 1;
  }

  /* line 201, ../scss/style.scss */
  73% {
    opacity: 1;
  }

  /* line 202, ../scss/style.scss */
  75% {
    opacity: .8;
  }

  /* line 203, ../scss/style.scss */
  79% {
    opacity: 1;
  }

  /* line 205, ../scss/style.scss */
  100% {
    opacity: 1;
  }
}
