$table-depth: 30vmin;
$table-width: 70vmin;
$table-height: 23vmin;

.table {
  width: $table-depth;
  height: $table-width;
  position: absolute;
  background: #f1f1f1;
  transform: translateZ($table-height + .1);
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;

  &__shadow {
    width: 0px;
    height: 40%;
    position: absolute;
    transform: translateZ(-23vmin) translateX(-50%) translateY(-50%);
    background: black;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 20vmin 24vmin rgba(0,0,0,.5);
  }

  &__face {
    overflow: hidden;
    transform-origin: 0 0;
    position: absolute;
    transform-style: preserve-3d;
    background: #f1f1f1;
  }

   &__face--edge {
    background: #dcdcdc;

    &--darker {
      background: #bcbcbc;
    }
  }

  &__shape {
    position: absolute;
    transform-style: preserve-3d;

    &__bk,
    &__ft {
      width: 100%;
      height: 100%;
    }

    &__rt {
      transform: rotateY(90deg);
      transform-origin: 100% 0;
    }

    &__lt {
      transform: rotateY(-90deg);
    }

    &__tp {
      transform: rotateX(90deg);
    }

    &__bm {
      transform: rotateX(-90deg) translateY(0);
      bottom: 0;
      transform-origin: 0 100%;
    }
  }

  &__top {
    width: 100%;
    height: 100%;


    &__face--ft {
      transform: translateZ(2vmin);
    }

    &__face--lt {
      width: 2vmin;
      height: 100%;
    }

    &__face--rt {
      width: 2vmin;
      height: 100%;
      right: 0;
    }

    &__face--bm {
      width: 100%;
      height: 2vmin;
    }

    &__face--tp {
      width: 100%;
      height: 2vmin;
    }
  }

  &__leg {
    width: $table-height;
    height: 4vmin;

    &__face--ft {
      transform: translateZ(2vmin);
    }

    &__face--bk {
      transform: translateZ(-2vmin);
    }

    &__face--lt {
      transform: rotateY(-90deg) translateX(-2vmin);
      width: 4vmin;
      height: 4vmin;
    }

    &__face--rt {
      width: 4vmin;
      height: 4vmin;
      transform: rotateY(90deg) translateX(2vmin);
      right: 0;
    }

    &__face--bm {
          width: 100%;
      height: 4vmin;
      transform: rotateX(-90deg) translateY(2vmin);
    }

    &__face--tp {
      width: 100%;
      height: 4vmin;
      transform: rotateX(90deg) translateY(-2vmin);
    }

    &--tl {
      transform: rotateY(90deg) translateZ(2vmin);
      transform-origin: 0 center;
    }

    &--tr {
      transform: rotateY(-90deg) translateZ(2vmin);
      transform-origin: 100% center;
      right: 0;
    }

    &--bl {
      transform: rotateY(90deg) translateZ(2vmin);
      transform-origin: 0 center;
      bottom: 0;
    }

    &--br {
      transform: rotateY(-90deg) translateZ(2vmin);
      transform-origin: 100% center;
      bottom: 0;
      right: 0;
    }

    &--tl .table__leg__face--rt,
    &--bl .table__leg__face--rt,
    &--br .table__leg__face--lt,
    &--tr .table__leg__face--lt {
      box-shadow: 0 0 4vmin rgba(0,0,0,.85);
    }
  }
}

