$table-depth: 30vmin;
$table-width: 70vmin;
$table-height: 23vmin;

.table {
  width: $table-depth;
  height: $table-width;
  position: absolute;
  background: #f1f1f1;
  transform: translateZ($table-height + .1);
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;

  .face {
    overflow: hidden;
    transform-origin: 0 0;
    position: absolute;
    transform-style: preserve-3d;
    background: #f1f1f1;
  }

  .edge {
    background: #dcdcdc;
  }

  &__cuboid {
    position: absolute;
    transform-style: preserve-3d;

    .bk,
    .ft {
      width: 100%;
      height: 100%;
    }
    .rt {
      transform: rotateY(90deg);
      transform-origin: 100% 0;
    }
    .lt {
      transform: rotateY(-90deg);
    }
    .tp {
      transform: rotateX(90deg);
    }
    .bm {
      transform: rotateX(-90deg) translateY(0);
      bottom: 0;
      transform-origin: 0 100%;
    }
  }

  .table__top {
  width: 100%;
  height: 100%;


  .ft {
    transform: translateZ(2vmin);
  }

  .lt {
    width: 2vmin;
    height: 100%;
  }

  .rt {
    width: 2vmin;
    height: 100%;
    right: 0;
  }

  .bm {
    width: 100%;
    height: 2vmin;
  }

  .tp {
    width: 100%;
    height: 2vmin;
  }
}


.table__leg {
  width: $table-height;
  height: 4vmin;

  .ft {
    transform: translateZ(2vmin);
  }

  .bk {
    transform: translateZ(-2vmin);
  }

  .lt {
    transform: rotateY(-90deg) translateX(-2vmin);
    width: 4vmin;
    height: 4vmin;
  }

  .rt {
    width: 4vmin;
    height: 4vmin;
    transform: rotateY(90deg) translateX(2vmin);
    right: 0;
  }

  .bm {
        width: 100%;
    height: 4vmin;
    transform: rotateX(-90deg) translateY(2vmin);
  }

  .tp {
    width: 100%;
    height: 4vmin;
    transform: rotateX(90deg) translateY(-2vmin);
  }

  &-tl {
    transform: rotateY(90deg) translateZ(2vmin);
    transform-origin: 0 center;
  }

  &-tr {
    transform: rotateY(-90deg) translateZ(2vmin);
    transform-origin: 100% center;
    right: 0;
  }

  &-bl {
    transform: rotateY(90deg) translateZ(2vmin);
    transform-origin: 0 center;
    bottom: 0;
  }

  &-br {
    transform: rotateY(-90deg) translateZ(2vmin);
    transform-origin: 100% center;
    bottom: 0;
    right: 0;
  }

  &-tr .rt,
  &-bl .rt,
  &-br .lt,
  &-tr .lt {
    box-shadow: 0 0 4vmin rgba(0,0,0,.85);
  }
}
}

